.sessions-list{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  height: 80svh;
  overflow-y: scroll;
  padding-bottom: 10rem;
  padding-top: 0.5rem;
  width: 100%;
  border-bottom: white solid 1px;
}

.add-session-container{
  width: 100%;
  padding-top: 3svh;
}

.session-card{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 2rem;
}

.view-details-btn{
  all: unset;
  cursor: pointer;
  background-color: #00A5A3;
  border-radius: 10px;
  height: 170px;
  width: 170px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.view-details-btn:hover {
  background-color: #005856;

}

.session-wizard-close-button{
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.session-wizard-header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 20px;
  gap: 5rem;
}

.session-wizard{
  color: #010101;
  background-color: white;
  border-radius: 20px;
  padding: 0.5rem;
}

.session-wizard h2{
  font-size: 30px;
}

.add-session-btn{
  all: unset;
  cursor: pointer;
  width: 250px ;
}

.add-session-img{
  width: 50%;
  background-color: white;
  border-radius: 30px;
  padding: 1rem;
  transition: transform 0.2s ease-in-out;

}

.add-session-img:hover{
    transform: scale(1.1);

}

.category-grid{
  display: grid;
  grid-template-columns: repeat(4, 1fr ); /* 4 colonnes de 20px */
  gap: 1rem; /* Optionnel : Espace entre les cellules */
  padding:0 1rem 1rem 1rem;
}

.category-button{
  all: unset;
  cursor: pointer;
  background-color: #424242;
  border-radius: 100px;
  padding: 1rem;
  transition: transform 0.2s ease-in-out;
}

.category-button:hover{
  transform: scale(1.1);
  box-shadow: inset 0 0 0 3px #00A5A3; /* bordure bleue inside */  
}

.close-button{
  all: unset;
}
.close-button:hover{
  cursor: pointer;
  opacity: 0.7;
}

.close-button img{
  width: 2.5rem;

}

.session-wizard-step2{
  color: #010101;
  background-color: white;
  border-radius: 20px;
  width: 30rem;
  padding: 0.5rem;
}

.session-wizard-step2 h2{
  font-size: 30px;
  margin: 0;
}

.session-form-step2{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 1rem 0 1rem;
  justify-content: center;
}

.session-form-label{
  display: flex;
  flex-direction: column;
  text-align: start;
  padding: 2rem 0 2rem 0;
  width: 100%;
}

.session-form-label-border{
  display: flex;
  flex-direction: column;
  text-align: start;
  border-top: #00A5A3 solid 1px;
  border-bottom: #00A5A3 solid 1px;
  padding: 2rem 0 2rem 0;
  width: 100%;
}

.session-form-label input,
.session-form-label-border input
{
  width: 100%;
  border-radius: 5px;
  height: 2.5rem;
  border: none;
  background-color: #D3D3D3;
  margin-top: 0.3rem;
  padding: 0 0.5rem;
  font-family: inherit;
  box-sizing: border-box;
}

.session-form-label textarea{
  width: 100%;
  border-radius: 5px;
  height: 2.5rem;
  border: none;
  background-color: #D3D3D3;
  margin-top: 0.3rem;
  padding: 0 0.5rem;
  font-family: inherit;
  box-sizing: border-box;
  min-height: 15svh;
}

.next-step-button{
    width: 70%;
    height: 2.8rem;
    border: none;
    background-color: #00A5A3;
    color: white;
    border-radius: 10px;
    font-family: 'PP-Formula', sans-serif;
    font-size: 1rem;
    cursor: pointer;
    margin-bottom: 1rem;
}

.next-step-button:hover{
    opacity: 0.7;
}



/* --------------------- STEP-------------------- 3 */
.exercise-selection{
  display: flex;
  gap: 3rem;
  margin-bottom: 5svh;
  padding:  0 2rem 0 2rem;
}

/* .user-exercices{
  display: grid;
  grid-template-columns: repeat(2,0fr);
  gap: 1rem;
  padding:0 5rem 0 5rem;
} */

.exercise-details{
  border: #010101 solid 1px;
}

.form-user-exercices{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  justify-content: center;
  gap: 5rem;
  height: 50svh;
  overflow-y: scroll;
  width: 50rem;
  padding: 2rem;
}

.form-exercise-details{
  color: #424242;
  font-size: larger;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0.5rem;
  border-radius: 10px;
  width: 100%;
}

.form-exercise-details input
{
    width: 100%;
  border-radius: 5px;
  height: 2.5rem;
  border: none;
  background-color: #ffffff;
  margin-top: 0.3rem;
  padding: 0 0.5rem;
  font-family: inherit;
  box-sizing: border-box;
}

.form-exercise-details textarea{
      width: 100%;
  border-radius: 5px;
  height: 2.5rem;
  border: none;
  background-color: #ffffff;
  margin-top: 0.3rem;
  padding:0 1.2rem 0.5rem;
  font-family: inherit;
  box-sizing: border-box;
}


.form-exercise-details label{
  display: grid;
  justify-items: start;
}


.exercise-selection input{
  width: 80%;
  border-radius: 5px;
  height: 2.5rem;
  border: none;
  background-color: #D3D3D3;
  margin-top: 0.3rem;
  padding: 0 0.5rem;
  font-family: inherit;
  box-sizing: border-box;
}

.exercise-adding-selector{
  display: flex;
  align-items: flex-end;
  justify-content: center;
  gap : 1rem;
}

.add-exercise-button{
  all: unset;
  cursor: pointer;
  background-color: #D3D3D3;
  border-radius: 5px;
  height: 2.5rem;
  
}

.line-br{
  height: 50svh;
  width: 2px;
  background-color: #00A5A3;
}

.form-exercise-fields{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
  background-color: #00A5A3;
  padding: 1rem;
  border-radius: 10px;
  color: white;
}

.session-wizard-resume{
  background-color: white;
  color:#010101;
  width: 40rem;
  border-radius: 20px;
  padding: 2rem;
}

.session-wizard-resume h3{
  font-size: 3rem;
  margin: 0;
  padding-bottom: 3svh;
  color: #424242;
}

.session-wizard-resume-part1{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: start;
  padding: 1rem;
}

.session-wizard-resume-part1 p{
  background-color: #D3D3D3;
  padding: 1rem;
  border-radius: 10px;
  
}

.session-wizard-resume-both-parts{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  ;
}

.btn-session-wizard-resume{
  all: unset;
  cursor: pointer;
  background-color: #00A5A3;
  color: white;
  border-radius: 10px;
  padding: 1rem;
  width: 60%;
  text-align: center;
  margin-top: 5svh;
}

.btn-session-wizard-resume:hover{
  opacity: 0.7;
}

.session-wizard-resume-part2{
  border-left:#00A5A3 solid 1px;
}

.session-wizard-resume-part1 div{
  width: 100%;
  text-align: start;
}

.session-wizard-resume-part2 ul{
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  max-height: 30svh;
  gap: 5svh;
}