.login {
  background-color: #010101;
  height: 1024px;
  position: relative;
  width: 1440px;
}

.login .overlap-group {
  height: 1024px;
  left: 225px;
  position: absolute;
  top: 0;
  width: 1215px;
}

.login .frame {
  background-color: #1c1c1c;
  height: 1024px;
  left: 0;
  position: absolute;
  top: 0;
  width: 1215px;
}

.login .vector {
  height: 1024px;
  left: 0;
  position: absolute;
  top: 0;
  width: 1215px;
}

.login .frame-wrapper {
  -webkit-backdrop-filter: blur(50px) brightness(100%);
  align-items: center;
  backdrop-filter: blur(50px) brightness(100%);
  background-color: #ffffff03;
  display: flex;
  gap: 10px;
  height: 1024px;
  justify-content: center;
  left: 0;
  padding: 262px 357px;
  position: absolute;
  top: 0;
  width: 1215px;
}

.login .div {
  -webkit-backdrop-filter: blur(25px) brightness(100%);
  align-items: center;
  backdrop-filter: blur(25px) brightness(100%);
  background-color: #ffffff;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  gap: 26px;
  height: 524px;
  justify-content: center;
  margin-bottom: -12.00px;
  margin-left: -28.50px;
  margin-right: -28.50px;
  margin-top: -12.00px;
  overflow: hidden;
  padding: 30px 20px 21px;
  position: relative;
  width: 558px;
}

.login .text-wrapper {
  color: #010101;
  font-family: "GT Walsheim Trial-Bl", Helvetica;
  font-size: 40px;
  font-weight: 400;
  height: 39px;
  letter-spacing: 0;
  line-height: normal;
  position: relative;
  white-space: nowrap;
  width: 445px;
}

.login .frame-2 {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 33px;
  height: 240px;
  justify-content: center;
  position: relative;
  width: 450px;
}

.login .frame-3 {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 1px;
  height: 100px;
  justify-content: center;
  padding: 0px 1px;
  position: relative;
  width: 450px;
}

.login .text-wrapper-2 {
  color: #00a4a3;
  font-family: "PP Formula-NarrowRegular", Helvetica;
  font-size: 20px;
  font-weight: 400;
  height: 40px;
  letter-spacing: 0;
  line-height: normal;
  position: relative;
  width: 445px;
}

.login .frame-4 {
  background-color: #d2d2d2;
  border-radius: 10px;
  height: 55px;
  position: relative;
  width: 445px;
}

.login .frame-5 {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 1px;
  height: 101px;
  justify-content: center;
  padding: 0px 1px;
  position: relative;
  width: 450px;
}

.login .div-wrapper {
  background-color: #00a4a3;
  border-radius: 20px;
  height: 56px;
  overflow: hidden;
  position: relative;
  width: 306px;
}

.login .text-wrapper-3 {
  color: #ffffff;
  font-family: "PP Formula-Extrabold", Helvetica;
  font-size: 20px;
  font-weight: 400;
  height: 55px;
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 0;
  width: 306px;
}

.login .pas-de-compte {
  color: #010101;
  font-family: "PP Formula-Regular", Helvetica;
  font-size: 20px;
  font-weight: 400;
  height: 40px;
  letter-spacing: 0;
  line-height: normal;
  position: relative;
  text-align: center;
  width: 445px;
}

.login .span {
  color: #010101;
  font-family: "PP Formula-Regular", Helvetica;
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 0;
}

.login .text-wrapper-4 {
  text-decoration: underline;
}

.login .frame-6 {
  align-items: center;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  gap: 100px;
  height: 1024px;
  left: 0;
  padding: 37px 57px;
  position: absolute;
  top: 0;
  width: 225px;
}

.login .frame-7 {
  background: linear-gradient(
    0deg,
    rgba(0, 165, 163, 1) 0%,
    rgba(0, 165, 163, 1) 100%
  );
  border-radius: 20px;
  height: 110px;
  position: relative;
  width: 110px;
}
